<p id="name"> Name: Nathan </p>
<img src="/assets/Picture.png"</>
<p id="from"> From: San Diego <p>
<p id="year"> Year: Sophomore <p>
<p id='fact'> Fun Fact: Nothing really <p>
<p id ='excited'> Excited About: Building something cool <p>